@media (max-width: 1120px){ /*Regra que dirá que quando chegar numa largura máxima, ira ser aplicado as regras no bloco abaixo*/
    .cabecalho .logo{
        max-width: 190px;
    }
    .selecao-de-personagens{
        flex-direction: column-reverse; /*coloca o personagem selecionado na parte de cima e os personagens na parte debaixo*/
        max-width: 430px;
        margin: 0auto; /*o 0 vai dar espaço de 0 em cima e embaixo e o auto pra esquerda e direita, distribuindo esse espaço*/
    }
    .selecao-de-personagens .personagens{
        margin-top: 37px;

    }
    .selecao-de-personagens .personagens .titulo{
        font-size: 15px;
    }
    .selecao-de-personagens .lista-personagens{
        gap: 9px;
    }
    .selecao-de-personagens .personagem img{
        width: 80px;
    }
    .personagem-selecionado .personagem-grande{
        width: 350px;
        height: 350px;
    }
    .personagem-selecionado .descricao-personagem{
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }
}